<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="J3D_Template_Model_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <J3D_Template_Model_Generator.Properties.Settings>
            <setting name="設定" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="expath" serializeAs="String">
                <value>SuperBMD.exe ..\FBX\TestWaterPlanet.fbx ..\Model\TestWaterPlanet.bdl --rotate --bdl --mat ..\BTK\Water_Temp\Water_Temp_materials.json --texheader ..\BTK\Water_Temp\Water_Temp_tex_headers.json</value>
            </setting>
            <setting name="inpath" serializeAs="String">
                <value />
            </setting>
        </J3D_Template_Model_Generator.Properties.Settings>
    </userSettings>
</configuration>